
.contactContainer{
    background-color: var(--secondary);
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    margin-top: 0;
}

.contactContainerDescription{
    text-align: center;
    color: var(--tan);
    max-width: 400px;
    margin: 0 auto;
    z-index: 1;
}

#contactTitle{
    font-size: 300%;
    margin-bottom: 0;
}

#contactHr{
    background-color: var(--tan);
    padding-top: 0;
    margin-top: 0;
}



.contactFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* #treesImage{
    z-index: 0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin-top: 20px;
} */

form {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    padding: 20px;
    border-radius: 10px;
    width:300px;
    z-index: 1;
}

form input, form textarea{
    /* display: block; */
    border-radius: 10px;
    margin: 5px;
    margin-left: 30px;
    padding: 15px;
    outline: none;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.submit-button{
    margin-left:90px;
    font-size: 160%;
   
}

h2{
    color: var(--tan);
}

#contactDescription{
    
    text-align: center;
}

