
/* FileName: Footer.css
   Author: Emma Walker
   Date last modified: 19/04/2024
   Description: A css file for making items in the footer display nicely
*/

/* Container for footer */
.footerContainer{
    background-color: var(--primary);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-bottom: 50px;
}

/* Changing the color of contact details */
.contactDetails{
    color: var(--tan);
}