  /* Navigation CSS */
  
  .navBar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--secondary);
  }

  .navBar img{
    width: 80px;
  }

  .navMenu {
    display: flex;
  }

  .navItem {
    padding: 2rem;
  }




/* now working on hamburger menu */
.hamburger {
    display: none;
}


@media screen and (max-width: 940px){
    .navMenu{
        position: absolute;
        left: -100%;
    }
    .hamburger {
        display: flex;
    }
}
    