/* FileName: Projects.css
   Author: Emma Walker
   Date last modified: 19/04/2024
   Description: A css file for formatting the projects section of the site
*/


.projectsContainer{
    background-image: url('../assets/concreteTexture.jpg');
    background-size: cover;
    background-position: center; 
    background-color: rgba(255, 255, 255, 5); 
    padding-top: 10px;
    padding-bottom: 40px;
    color: var(--primary);
    margin-bottom: 0;
    
}

.projectsHeader{
    text-align: center;
    color: var(--primary);
    max-width: 400px;
    margin: 0 auto;
    z-index: 1;
}

#projectH2{
    font-family: 'Svetze', sans-serif; 
    font-size: 300%;
}

hr {
    background-color: var(--primary);
}

.projectsListContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
   
}

.projectItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.projectTitle{
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'Svetze', sans-serif;
}

.projectSubtitle{
    margin-top: 0;
    font-size: 70%;
}

.projectDescription{
    font-size: 60%;
}

.projectImage{
    margin-right: 50px;
}

.projectDetails{
    width:300px;
    font-size: 150%;
    margin-left:75px;
}

.button{
    font-size: 90%;
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 940px){
    .projectsListContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    
    .projectItem{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .projectImage{
        transform: scale(1.5);
        margin: auto;
        margin-top: 80px;
    }

    .button{
        font-size: 120%;
    }

    .projectTitle{
        font-size: 190%;
    }
    
    .projectSubtitle{
        font-size: 90%;
    }
    
    .projectDescription{
        font-size: 100%;
    }
    
}