/* FileName: Skills.css
   Author: Emma Walker
   Date last modified: 19/04/2024
   Description: A css file for formatting the skills section of the site
*/

/* container for the section */

.skillsContainer{
    background-color: var(--darkgreen); 
    padding-top: 10px;
    color: var(--green);
    margin-bottom: 0;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

/* working on the header of the section */
.skillsHeader{
    text-align: center;
    color: var(--green);
    max-width: 400px;
    margin: 0 auto;
    z-index: 1;
}

#skillsTitle{
    font-family: 'Svetze', sans-serif; 
    font-size: 200%;
}

/* formatting the skills that are shown to fit in a box */

.skillsListContainer{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 40px;
}


.skill{
    display:inline-block;
    font-weight: bold;
    padding: 10px;
    margin: 20px;
    border: 2px solid var(--green); /* Example border */
    text-align: center;
    line-height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}